@model TL_LT_Web_14.Models.ChiTietPhieuDiChuyen

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .dl-horizontal {
        margin-left: 50%;
        transform: translateX(-30%);
    }

    h2, h4 {
        text-align: center;
    }
</style>

<div>
    <h2>Chi tiết</h2>
    <h4>Chi tiết phiếu di chuyển</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
           Số phiếu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoPhieu)
        </dd>

        <dt>
            Số thứ tự
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STT)
        </dd>

        <dt>
            Mã nhân khẩu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaNhanKhau)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
